<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.whitneybb">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.BIND_JOB_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_treasure_chest_"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_treasure_chest_"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".utils.splashscreen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:label="LoginActivity" />
        <activity
            android:name=".ui.wishlist.Wishlist"
            android:label="Wishes" />
        <activity
            android:name=".ui.profile.ProfileActiviy"
            android:label="Profile" />
        <activity
            android:name=".utils.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".MainActivity"
            android:label="@string/main_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.alerts.NewAlertActivity" />
        <activity android:name=".ui.diary.NewDiaryEntry" />
        <activity android:name=".ui.goals.NewGoalEntry" />
        <activity android:name=".ui.editors.Diary_NotesEditorActivity" />
        <activity android:name=".ui.notes.NewNotesEntry" />
        <activity android:name=".ui.objectives.NewObjectiveEntry" />
        <activity android:name=".ui.diary.pages.DiaryPagesActivity" />
        <receiver android:name=".utils.broadcasts.AlertReceiver" />
    </application>

</manifest>